.widget-title {
    padding: 0 10px;
    text-transform: uppercase;
}

.widget-title {
    margin-top: 20px;
}

.widget-title h3 span{
    font-size: 20px;
}

.widget-title span::before {
    content: "";
    width: 40px;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 15px;
    background: var(--theme-color);
}