.cart-product-item {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgb(100, 100, 100, 0.2);
}

.cart-product-item .product-image img {
    max-width: 100%;
    height: auto;
}

.cart-product-item .product-detail .product-name h3 a {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--theme-color);
}

.cart-product-item .product-detail .price {
    margin-bottom: 0.75rem;
}

.cart-product-item .product-detail .price span {
    font-size: 1rem;
    font-weight: 600;
}

.cart-product-item .product-detail button {
    cursor: pointer;
    outline: none;
    border: 1px solid rgb(100, 100, 100, 0.2);
    background: #fff;
    width: 25px;
    height: 25px;
    text-align: center;
    font-weight: 600;
}

.cart-product-item .product-detail button:focus {
    outline: none;
}

.cart-product-item .quantity {
    display: flex;
    flex-direction: row;
}

.cart-product-item .quantity input {
    width: 35px;
    height: 25px;
    outline: none;
    border: 1px solid rgb(100, 100, 100, 0.2);
    background-color: rgb(100, 100, 100, 0.05);
    text-align: center;
    font-size: 1rem;
}

.cart-product-item .remove-btn {
    position: absolute;
    top: 0;
    right: 1rem;
}

.cart-product-item .remove-btn button {
    width: auto;
    height: auto;
    border: none;
}

.cart-product-item .remove-btn button i {
    font-size: 1rem;
}

.cart-product-item .sub-total {
    position: absolute;
    bottom: 0;
    right: 1rem;
}

.cart-product-item .sub-total span {
    font-size: 1.25rem;
    font-weight: 700;
}