.cart {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cart-save {
    position: relative;
    bottom: 0;
    right: 1rem;
}

.cart-save button {
    padding: 5px 10px;
    width: 85px;
    background: var(--theme-color);
    color: #fff;
    font-weight: 500;
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(100, 100, 100);
    font-size: 1rem;
    cursor: pointer;
}

.cart-save button:hover {
    background: var(--hover-color);
}

.cart-items {
    padding: 15px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cart-checkout {
    margin-top: 2rem;
    position: relative;
}

.cart-checkout button {
    padding: 10px;
    width: 200px;
    background: var(--theme-color);
    border: none;
    box-shadow: 1px 1px 5px 0px rgba(100, 100, 100);
    font-size: 1.2rem;
    cursor: pointer;
    position: absolute;
    right: 1rem;
    bottom: 0;
}

.cart-checkout button a {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
}

.cart-checkout button:hover {
    background: var(--hover-color);
}

.cart-checkout span {
    margin-left: 5px;
    font-size: 1.75rem;
}

.cart-checkout span span {
    font-weight: 500;
    color: var(--theme-color);
}