.category-option {
    padding-bottom: 1rem;
}

.category-option-item {
    padding: 0.5rem;
    border: 1px solid var(--theme-color);
    text-align: center;
    cursor: pointer;
}

.category-option-link {
    color: inherit;
    display: block;
    color: #000;
    font-size: 1rem;
}

.category-option-item:hover {
    background-color: var(--hover-color);
}

.category-option-item:hover .category-option-link {
    color: #fff;
}

.current-category {
    margin-bottom: 1rem;
}

.current-category span{
    font-size: 1rem;
    font-weight: 500;
}