.login{
    padding-top: 20px;
}

.login .title{
    font-size: 1.5rem;
    text-transform: uppercase;
    position: relative;
}

.login .title::before{
    content: "";
    background: var(--theme-color);
    position: absolute;
    height: 4px;
    width: 40px;
    bottom: -5px;
}

#login-form{
    width: 100%;
    margin-top: 40px;
}

#login-form input{
    width: 100%;
    padding: 2px 5px;
    margin-bottom: 15px;
    line-height: 30px;
    font-size: 1.25rem;
    border: 1px solid rgba(0,0,0,0.25);
}

#login-form #submit-btn{
    width: 100%;
    outline: none;
    font-size: 1.25rem;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px;
    color: #fff;
    font-weight: 600;
    border: none;
    background: var(--theme-color);
}

#login-form #submit-btn:hover{
    background: var(--hover-color);
}

#login-form .login-status{
    font-size: 1rem;
    color: red;
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#login-form a{
    color: var(--theme-color);
}

#login-form a:hover{
    color: var(--hover-color);
}