* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
    outline: none;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    transition: ease-out 0.25s;
}

:root {
    --theme-color: #00b3b3;
    --hover-color: #019c9c;
}

body {
    /* margin: 0; */
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

i {
    padding: 0 5px;
}

button:focus {
    outline: none;
}

h2 {
    font-weight: 1.5rem;
}

button, input, textarea, span {
    font-family: "Quicksand", sans-serif;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.25);
}