.account-profile .avatar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px 20px 20px;
}

.account-profile .avatar img {
    border: solid 3px var(--theme-color);
    max-width: 128px;
    max-height: 128px;
    border-radius: 50%;
}

.account-profile .avatar .logout {
    padding: 1rem;
}

.account-profile .avatar .logout button {
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

.account-profile .avatar .logout button i {
    font-size: 2rem;
    transition: ease-in-out 0.25s;
}

.account-profile .avatar .logout button i:hover {
    color: var(--hover-color);
    transform: scale(0.8);
}

.account-profile .profile-detail {
    display: flex;
    flex-direction: column;
}

.account-profile .profile-detail .profile-detail-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.account-profile .profile-detail .profile-detail-item i {
    font-size: 1.5rem;
    margin-right: 1rem;
    width: 2rem;
}

.account-profile .profile-detail .profile-detail-item p {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.account-profile .profile-detail .profile-detail-item:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.account-profile .profile-detail .order a {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    background: var(--theme-color);
    padding: 1rem;
}

.account-profile .profile-detail .order a:hover {
    background: var(--hover-color);
}